<%= link_to "Back", @project, class: "btn btn-info mb-3" %>
<div class="card">
   <div class="card-body">
    <h2 class='card-title mb-4'>
      <span>Edit task</span>
    </h2>

    <%= render "form" %>
  </div>
</div>
