@import "bootstrap";

.project-card {
    transition: background-color 0.5s ease; 
    &:hover {
        background-color: #f7f7f7;
    }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: black;
}

footer a {
  color: blue;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}