<footer class="footer">
  <small>
    This is a Project Management application made</a>
    by <b>Shaun Smerling</b></a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.twitter.com/smerlinger">Twitter </a></li>
      <li><a href="https://www.instagram.com/shaunsmerling">Instagram</a></li>
      <li><a href="https://medium.com/@smerling/">Medium</a></li>
    </ul>
  </nav>
</footer>